body {
  font-family: "IBM Plex Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
}
.logo {
  width: 229px;
  height: 68px;
  margin-top: 42px;
  margin-bottom: 73px;
}
h1 {
  margin-bottom: 61px;
  color: #fff;
}
.avatar {
  width: 700px;
  height: 194px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.perfil1, .perfil2 {
  width: 160px;
  height: 160px;
  border-radius: 8px;
}
.perfil1 .avatar1{
  overflow: hidden;
  border-radius: 8px;
}
.perfil1 img{
  border-radius: 8px;
}
.perfil1 img:hover{
  transform: scale(1.1);
}
.username{
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #9c9c9c;
  text-align: center;
}
.perfil2 img{
  opacity: 0.8;
}
.perfil2:hover img{
  opacity: 0.6;
  border: #fff solid 1.5px;
  border-radius: 8px;
}
.gerenciar {
  margin-bottom: 88px;
  margin-top: 102px;
  box-sizing: border-box;
  border: #fff solid 1.5px;
  padding: 14px 44px 15px;
  width: 206px;
  height: 50px;
  border-radius: 8px;
}
.gerenciar .link{
  color: #fff;
  text-align: center;
  text-decoration: none;
}
.gerenciar:hover {
  background-color: #fff;
}
.gerenciar:hover a{
  color: #000;
}